body{
    font-family:mifuente ;
    font-size: 9px;
    color: #313131;
}

*{
	
	margin:0px;
	padding:0px;

}
.container
{
	width:100%;
	background:#313131;
	width:100%;
	float:left;
	
}

nav.mainmenu
{
	
	padding:0px;
	margin:0px;
}
.logo{
	
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
	padding:0px;
	margin:0px;
	
}
.logos{
	margin-top:30px;
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
}
nav.mainmenu ul
{
	padding:0px;
	margin:0px;
}
nav.mainmenu ul li
{
	width:100px;
	display:inline-block;
	vertical-align:top;
	height:150px;
	margin:0px;
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
}
nav.mainmenu ul li a
{
	color:#AAAAAA;
	margin-top:60px;
	display:block;
	font-size: 12px;
	text-align:center;
	text-decoration:none;
}
.info
{
	margin-top:10px;
	color:#DDDDDD;
}
.content{
	max-width:960px;
	position:relative;
	margin:0 auto;
	padding:0px;
}
.columna1{
	border:1px solid #000;
	height:270px;
	overflow:hidden;
	border-radius:10px;
	text-align:center;
	margin-top:60px;
	font-size: 15px;
}