body{
    font-family:mifuente ;
    font-size: 9px;
    color: #313131;
}

*{
	
	margin:0px;
	padding:0px;

}
.container
{
	width:100%;
	background:#313131;
	width:100%;
	float:left;
	
}

nav.mainmenu
{
	
	padding:0px;
	margin:0px;
}
.img-responsive{
	
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
	padding:0px;
	margin:0px;
	
}
.logos{
	margin-top:30px;
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
}
nav.mainmenu ul
{
	padding:0px;
	margin:0px;
}
nav.mainmenu ul li
{
	width:100px;
	display:inline-block;
	vertical-align:top;
	height:150px;
	margin:0px;
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
}
nav.mainmenu ul li a
{
	color:#AAAAAA;
	margin-top:60px;
	display:block;
	font-size: 12px;
	text-align:center;
	text-decoration:none;
}
.info
{
	margin-top:10px;
	color:#DDDDDD;
}
.content{
	max-width:960px;
	position:relative;
	margin:0 auto;
	padding:0px;
}
.columna1{
	border:1px solid #000;
	height:270px;
	overflow:hidden;
	border-radius:10px;
	text-align:center;
	margin-top:60px;
	font-size: 15px;
}
.bannercontainer1{
	border:5px solid #000;
	height:400px;
	overflow:hidden;
	border-radius:10px;
	text-align:center;
	margin-top:60px;
	font-size: 15px;
}
@media only screen and  (max-width: 400px) {
	.bannercontainer
	{
		height:200px;
	}
	.bannercontainer img{
		width:480px;
	}
	nav.mainmenu
	{
		margin-left:30px;
	}
	nav.mainmenu ul li
	{
		width:50px;
		display:inline-block;
		vertical-align:top;
		height:60px;
		margin:0px;
		border-radius:10px;
		box-shadow:0px 0px 10px 0.1px #000;
	}
	nav.mainmenu ul li a
	{
		color:#AAAAAA;
		margin-top:40px;
		display:block;
		font-size: 8px;
		text-align:center;
		text-decoration:none;
	}
	nav.mainmenu ul .home
	{
		background:url("/static/img/black/home.png") no-repeat;
	}
	nav.mainmenu ul .registro
	{
		background:url("/static/img/black/download.png") no-repeat;
	}
	nav.mainmenu ul .logout
	{
		background:url("/static/img/black/trabajos.png") no-repeat;
	}
	nav.mainmenu ul .login
	{
		background:url("/static/img/black/contacto.png") no-repeat;
	}
	nav.mainmenu ul .home:hover
	{
		background:url("/static/img/white/home.png") no-repeat;
	}
	nav.mainmenu ul .registro:hover
	{
		background:url("/static/img/white/download.png") no-repeat;
	}
	nav.mainmenu ul .logout:hover
	{
		background:url("/static/img/white/trabajos.png") no-repeat;
	}
	nav.mainmenu ul .login:hover
	{
		background:url("/static/img/white/contacto.png") no-repeat;
	}
	
}
body {
    color:#000;
    margin: 0;
    background-image: url(/static/img/vista.jpg);
    background-size: 1440px 800px;
 	background-repeat:no-repeat;
 	display: compact;
	 	
} 